

<form action="/goodbye">
  <label for="zebra">Fruit</label>
  <input id="zebra" name="fruit">
	
  <label for="giraffe">Color</label>
  <input id="giraffe" name="color">
	
  <button>Go to /goobye</button>
</form>

