<h1>Pick random number</h1>

<form action="/random/results">
  <label for="bear">Minimum</label>
  <input id="bear" type="text" name="users_number_min">

  <label for="rabbit">Maximum</label>
  <input id="rabbit" type="text" name="users_number_max">
  <button>Pick random number</button>
</form>  
