<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <label for="cat">Enter a number</label>
  <input id="cat" type="text" name="users_number">

  <button>Calculate square root</button>
</form>  
